body {
    background: #eee;
    font-family: 'Segoe UI', Ubuntu, sans-serif;

    display: grid;
    height: 100vh;
    place-items: center;
}

#app {
    height: 400px;
    display: grid;
    place-items: center;

    background: #fff;
    padding: 2rem 5rem;
    text-align: center;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

button + button {
    margin-left: .5em;
}